Repository dreadnode/sdk, pull requests merged in 2025-07, with the labels that each got.

#98 fix: Tasks outside runs
  docs/sdk/api.mdx
  docs/sdk/data_types.mdx
  docs/sdk/main.mdx
  dreadnode/main.py
  dreadnode/task.py
  dreadnode/util.py
Labels: area/docs, type/docs

#99 fix: Autolog Mechanics
  docs/intro.mdx
  docs/sdk/main.mdx
  docs/sdk/serialization.mdx
  docs/sdk/task.mdx
  docs/usage/data-tracking.mdx
  docs/usage/tasks.mdx
  dreadnode/main.py
  dreadnode/serialization.py
  dreadnode/task.py
  dreadnode/tracing/span.py
Labels: area/docs, type/docs

#102 feat: Task Hierarchy
  docs/usage/runs.mdx
  docs/usage/tasks.mdx
  dreadnode/__init__.py
  dreadnode/convert.py
  dreadnode/tracing/span.py
Labels: area/docs, type/docs

#107 feat: Text Types
  docs/sdk/data_types.mdx
  docs/sdk/serialization.mdx
  docs/usage/data-tracking.mdx
  docs/usage/rich-objects.mdx
  dreadnode/data_types/__init__.py
  dreadnode/data_types/audio.py
  dreadnode/data_types/base.py
  dreadnode/data_types/base_data_type.py
  dreadnode/data_types/image.py
  dreadnode/data_types/object_3d.py
  dreadnode/data_types/table.py
  dreadnode/data_types/text.py
  dreadnode/data_types/video.py
  dreadnode/serialization.py
Labels: area/docs, type/docs

#108 hotfix: Live run/task errors
  docs/sdk/main.mdx
  dreadnode/main.py
  dreadnode/tracing/span.py
  pyproject.toml
Labels: area/docs, area/python, type/docs

#116 docs: agent card docs
  docs/docs.json
  docs/examples.mdx
  docs/examples/agent-examples.mdx
  docs/examples/dangerous-capabilities.mdx
  docs/examples/dotnet-reversing.mdx
  docs/examples/python-agent.mdx
  docs/examples/saas-scanning.mdx
  docs/examples/sensitive-data.mdx
Labels: area/docs, type/docs

#117 feat: CLI
  .github/workflows/test.yaml
  .secrets.baseline
  docs/intro.mdx
  docs/sdk/api.mdx
  docs/sdk/main.mdx
  docs/usage/cli.mdx
  docs/usage/config.mdx
  dreadnode/__main__.py
  dreadnode/api/client.py
  dreadnode/api/models.py
  dreadnode/api/util.py
  dreadnode/cli/__init__.py
  dreadnode/cli/api.py
  dreadnode/cli/github.py
  dreadnode/cli/main.py
  dreadnode/cli/profile/__init__.py
  dreadnode/cli/profile/cli.py
  dreadnode/config.py
  dreadnode/constants.py
  dreadnode/data_types/__init__.py
  dreadnode/main.py
  dreadnode/object.py
  dreadnode/tracing/span.py
  dreadnode/util.py
  poetry.lock
  pyproject.toml
Labels: area/docs, area/python, area/github, type/docs

#115 feat: Scorer Improvements
  .pre-commit-config.yaml
  .secrets.baseline
  docs/docs.json
  docs/examples/dotnet-reversing.mdx
  docs/examples/overview.mdx
  docs/examples/sast-scanning.mdx
  docs/examples/sensitive-data.mdx
  docs/how-to/airtbench-agent.mdx
  docs/how-to/write-a-ctf-agent.mdx
  docs/how-to/write-a-dotnet-reversing-agent.mdx
  docs/sdk/scorers.mdx
  docs/sdk/task.mdx
  docs/usage/metrics.mdx
  docs/usage/runs.mdx
  docs/usage/scorers.mdx
  dreadnode/__init__.py
  dreadnode/lookup.py
  dreadnode/scorers/__init__.py
  dreadnode/scorers/classification.py
  dreadnode/scorers/consistency.py
  dreadnode/scorers/contains.py
  dreadnode/scorers/format.py
  dreadnode/scorers/harm.py
  dreadnode/scorers/judge.py
  dreadnode/scorers/length.py
  dreadnode/scorers/lexical.py
  dreadnode/scorers/operators.py
  dreadnode/scorers/pii.py
  dreadnode/scorers/readability.py
  dreadnode/scorers/sentiment.py
  dreadnode/scorers/similarity.py
  dreadnode/scorers/util.py
  dreadnode/task.py
Labels: area/docs, area/pre-commit, type/docs

#126 fix: Fix S3 credential auto-refresh mechanism and extend buffer window
  docs/sdk/artifact.mdx
  docs/sdk/main.mdx
  dreadnode/artifact/storage.py
  dreadnode/constants.py
  dreadnode/credential_manager.py
  dreadnode/main.py
  dreadnode/storage_utils.py
  dreadnode/tracing/span.py
  pyproject.toml
Labels: area/docs, area/python, type/docs
