Repository dreadnode/sdk, pull requests merged in 2025-08, with the labels that each got.

#139 fix: remove caching from CI test workflow
  .github/workflows/test.yaml
Labels: area/github

#127 feat: Agents
  agent.py
  docs/sdk/api.mdx
  docs/sdk/data_types.mdx
  docs/sdk/main.mdx
  docs/sdk/metric.mdx
  docs/sdk/scorers.mdx
  dreadnode/__init__.py
  dreadnode/agent/__init__.py
  dreadnode/agent/agent.py
  dreadnode/agent/configurable.py
  dreadnode/agent/context.py
  dreadnode/agent/error.py
  dreadnode/agent/events.py
  dreadnode/agent/hooks/__init__.py
  dreadnode/agent/hooks/base.py
  dreadnode/agent/hooks/summarize.py
  dreadnode/agent/prompts/__init__.py
  dreadnode/agent/prompts/summarize.py
  dreadnode/agent/reactions.py
  dreadnode/agent/result.py
  dreadnode/agent/stop.py
  dreadnode/agent/thread.py
  dreadnode/agent/tools/__init__.py
  dreadnode/agent/tools/base.py
  dreadnode/agent/tools/highlight.py
  dreadnode/agent/tools/task.py
  dreadnode/agent/tools/todo.py
  dreadnode/agent/types.py
  dreadnode/api/client.py
  dreadnode/artifact/merger.py
  dreadnode/artifact/storage.py
  dreadnode/artifact/tree_builder.py
  dreadnode/cli/agent/__init__.py
  dreadnode/cli/agent/cli.py
  dreadnode/cli/agent/discover.py
  dreadnode/cli/agent/format.py
  dreadnode/cli/api.py
  dreadnode/cli/main.py
  dreadnode/cli/profile/cli.py
  dreadnode/credential_manager.py
  dreadnode/data_types/audio.py
  dreadnode/data_types/image.py
  dreadnode/data_types/table.py
  dreadnode/data_types/video.py
  dreadnode/main.py
  dreadnode/metric.py
  dreadnode/scorers/classification.py
  dreadnode/scorers/harm.py
  dreadnode/scorers/pii.py
  dreadnode/task.py
  dreadnode/tracing/exporters.py
  dreadnode/util.py
  poetry.lock
  pyproject.toml
Labels: area/docs, area/python, area/github, type/docs

#140 chore: updated dev deps
  .hooks/generate_docs.py
  dreadnode/agent/agent.py
  dreadnode/agent/events.py
  dreadnode/agent/hooks/summarize.py
  dreadnode/api/client.py
  dreadnode/cli/agent/cli.py
  dreadnode/cli/main.py
  dreadnode/cli/profile/cli.py
  dreadnode/convert.py
  dreadnode/data_types/audio.py
  dreadnode/data_types/image.py
  dreadnode/data_types/table.py
  dreadnode/data_types/video.py
  dreadnode/main.py
  dreadnode/scorers/classification.py
  dreadnode/scorers/harm.py
  dreadnode/scorers/pii.py
  dreadnode/scorers/rigging.py
  dreadnode/scorers/similarity.py
  dreadnode/serialization.py
  dreadnode/tracing/span.py
  poetry.lock
  pyproject.toml
Labels: area/python, area/pre-commit

#143 chore: updated task versions
  .github/workflows/docs-update.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/rigging_pr_description.yaml
  .github/workflows/semantic-prs.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/template-sync.yaml
Labels: area/github
