Repository dreadnode/sdk, pull requests merged in 2025-06, with the labels that each got.

#67 feat: Remote Run Context
  .pre-commit-config.yaml
  dreadnode/__init__.py
  dreadnode/data_types/audio.py
  dreadnode/data_types/py.typed
  dreadnode/main.py
  dreadnode/task.py
  dreadnode/tracing/constants.py
  dreadnode/tracing/span.py
  poetry.lock
  pyproject.toml
Labels: area/python, area/pre-commit

#76 docs: add ai ml ctf agent harness walkthrough
  docs/docs.json
  docs/how-to/airtbench-agent.mdx
Labels: area/docs, type/docs

#84 docs: add arxiv reference 2506.14682 to airtbench agent docs
  docs/how-to/airtbench-agent.mdx
Labels: area/docs, type/docs

#89 chore: Bump Version to V1.0.8
  pyproject.toml
Labels: area/python

#91 feat: add multimodal extras and remove pydub for Python 3.13 compatibility
  README.md
  docs/sdk/data_types.mdx
  docs/usage/rich-objects.mdx
  dreadnode/data_types/audio.py
  dreadnode/data_types/image.py
  dreadnode/data_types/video.py
  examples/log_object/audio.ipynb
  examples/log_object/image.ipynb
  examples/log_object/video.ipynb
  poetry.lock
  pyproject.toml
Labels: area/docs, area/python, area/examples, type/core, type/docs

#92 fix: Update Readme with Correct PyPI Package Installation
  README.md
  pyproject.toml
Labels: area/python, type/core, type/docs
